.modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 36px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -1;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  color: black;
  width: 430px;
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
}

.modal__header {
  margin: 0;
  margin-bottom: 54px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__close {
  border: none;
  background-image: url("../images/Close.svg");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  transition: all ease 0.5s;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 30px;
  width: 100%;
}

.modal__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 13px;
}

.modal__submit-button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
  margin-top: 48px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
}

.modal__submit-button:not(.modal__button_disabled):hover {
  opacity: 0.8;
  transition: all ease 0.5s;
}
.modal__container_type_preview {
  padding: 0;
  background: none;
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
}
.modal__caption {
  color: white;
  margin-bottom: 0;
}
.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__error {
  color: red;
  position: absolute;
  top: 34px;
  left: 0;
}
.modal__input_type_error {
  border-bottom: red 1px solid;
}
.modal__label {
  width: 100%;
  position: relative;
}
.modal__button_disabled {
  opacity: 0.2;
  border: 1px solid #000000;
  border-radius: 2px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .modal {
    padding: 0;
  }
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }
  .modal__header {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
  .modal__input {
    width: 238px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .modal__submit-button {
    width: 238px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
  .modal__close {
    top: -55px;
    right: 0;
  }
}
