.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 36.25px;
  margin-bottom: 47px;
  gap: 24px;
}
.profile__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}
.profile__info {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  -ms-grid-columns: minmax(auto, 373px) auto;
  grid-template-columns: minmax(auto, 373px) auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 16px 18px;
}
.profile__edit-button {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.profile__edit-button:hover {
  opacity: 0.6;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.profile__description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .profile__title {
    font-size: 26px;
  }
  .profile__info {
    grid-template-columns: minmax(auto, 260px);
  }
}

@media screen and (max-width: 621px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 19px 0;
    gap: 36px;
  }
  .profile__info {
    -ms-grid-columns: minmax(auto, 196px) auto;
    grid-template-columns: minmax(auto, 196px) auto;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    align-items: center;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__image {
    margin-top: 38px;
    margin-right: 0;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__add-button {
    margin-left: 0;
    width: 282px;
    margin-bottom: 36px;
  }
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-edit {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__avatar-container:hover .profile__avatar-edit {
  visibility: visible;
}

.profile__avatar-container:hover .profile__image {
  opacity: 0.6;
}
